*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .logo-cont {
      display: flex;
      justify-content: space-between; 
      align-items: center;
      width: 100%;
      background-color: #664f3e;
      padding: 0 10px; 
    }
  
    .login {
      margin-left: auto;
    }
    
    .login button {
      background: none;
      border: none;
      color: #decfbc;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 20px;
      transition: color 0.3s;
    }
    
    .login button:hover {
      color: #decfbc; 
    }
    
    
  
  .logo img {
    height: 130px;
    width: 370px;
  }
  nav {
    width: 100%;
    background-color: #decfbc;
  }
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 20px 0;
  }
  nav ul li {
    margin: 0 5px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
    transition: all 0.3s;
    text-align: center;
    font-style: normal;
  }
  nav ul li a:hover {
    color: #fff;
    background-color: #664f3e;
    border-radius: 5px;
  }
  nav ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #664f3e;
    transition: width 0.3s;
  }
  nav ul li a:hover::after {
    width: 100%;
  }

  

body,html{
    overflow-x: hidden;
}
section {
  background-color: beige;
}

.about {
  padding: 3rem;
  background-color:#f4e4d4; 
}

.heading {
  font-size: 2.5rem;
  color: #664f3e; 
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #4b392d;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap; 
  border-style: hidden;
}

.about-image img {
  flex: 1 1 300px; 
  max-width: 400px; 
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.about-content {
  flex: 2 1 300px; 
  color: #333;
  font-family: "Arial", sans-serif;
}

.about-content h3 {
  font-size: 2rem;
  font-weight: bold;
   
}

.about-content hr {
  border: none;
  border-top: 2px solid #664f3e;
  margin: 0.5rem 0 1rem 0;
  width: 90%;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}
.about-content p {
  word-wrap: break-word;
}


.about-button {
  display: inline-block;
  background-color:#664f3e; 
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.about-button:hover {
  background-color: #4f3d30; 
}

.about-button:focus {
  outline: 2px dashed #b0b0b0; 
}


.container {
  text-align: center;
  margin: 50px auto;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
  position: relative;

}

.container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #664f3e; 
}

.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.service-item {
  width: 300px;
  text-align: center;
  overflow: hidden;
  padding: 15px;
}

.service-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 3px solid #ccc;
}

.service-item p {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  margin: 10px 0;
}

.service-item .description {
  font-size: 14px;
  color: #666;
  text-transform: none;
  margin: 0;
}

.container .main-btn {
  position: absolute;
  right: 20px; 
  bottom: -40px; 
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #664f3e; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.3s;
}

.container .main-btn i {
  margin-left: 8px; 
}

.container .main-btn:hover {
  background-color: #4b392c; 
}



footer {
  width: 100%;
  background: #664f3e;
  background-size: 200% auto;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
  font-family: Arial,sans-serif;

}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}
.logo1 {
  width: 120px;
margin-bottom: 30px;
height: auto;

}
.footer-section{
  text-align: center;
  flex: 1;
  min-width: 0;
  margin: 10px 0;
  
}
.footer-section h3{
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  
}
.footer-section h3::after{
  content: '';
  width: 50px;
  background-color:  #fff;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
}
.footer-section p {
 margin-bottom: 20px;
}
.footer-section p i{
font-size: 18px;
margin-right: 10px;

}
.footer-section ul {
  list-style: none;
  margin-bottom: 20px;
}
.footer-section ul li{
  margin-bottom: 10px;
  font-style: normal;
}
.footer-section ul li a{
  color: #fff;
  text-decoration: none;

}
.footer-section ul li a:hover{
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
.icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}
.icons a{
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #4c3b36;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease , transform 0.3s ease; 
}
.icons a:hover{
  background-color: #6F4F47;
  color: #fff;
  transform: rotate(10deg) scale(1.1);
}

.footer-section.newsletter {
flex: 1;
text-align: left;
display: flex;
flex-direction: column; 
align-items: center;
min-width:250px ;
}

.newsletter form {
margin-top: 10px;
}

.newsletter-input {
display: flex;
align-items: center;
border-bottom: 2px solid #fff;
padding: 5px 10px;
width: 100%;
max-width: 90%;
transition: border-color 0.3s ease;
}


.newsletter-input i {
color: #4c3b36;
font-size: 18px;
margin-right: 10px;
}

.newsletter-input input {
flex: 1;
border: none;
outline: none;
background: none;
font-size: 14px;
color: #fff;
}

.newsletter-input input::placeholder {
color: #b3b3b3;
}

.newsletter-input button {
background: none;
border: none;
color: #fff;
cursor: pointer;
font-size: 16px;
transition: color 0.3s ease, transform 0.3s ease;
}
.newsletter-input button:hover{
color: #4c3b36;
}

.newsletter-input button:hover i {
color: #4c3b36;
transform:  translateY(-3px) scale(1.1);
}

.footer-bottom{
  text-align: center;
  margin-top: 30px;
  border-top: 2px solid #fff;
  width: 80%;
  margin: 30px auto 0 auto;
  padding-top: 20px;
  font-size: 14px;
}
.footer-bottom span {
  color: #4c3b36; 
  font-weight: bold;
}

#scrollToTop {
position: fixed;
bottom: 20px;
right: 20px;
background-color: #4c3b36;
color: white;
border: none;
border-radius: 50%;
padding: 10px;
cursor: pointer;
z-index: 1000;
}
#scrollToTop:hover {
background-color: #fff;
color: #4c3b36;
}

.audio-container {
  position: fixed;
      bottom: 10px;
      left: 10px;
      z-index: 9999; 
      width: 300px;
}
audio{
  width: 100%;
  outline: none;
}

section {
  background-color: #fff;

}

/*gallery*/

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  text-align: center;
  padding:40px;
  margin: 0 auto;
  
}


.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: transform 0.3s ease;
  overflow: hidden;

}

.gallery-item:hover {
  transform: scale(1.1);
}

#galleryheading {
  text-align: center;
  font-size: 40px;
  color: #6F4F47;
  padding: 20px;

}

/*about us page */

@font-face {
  font-family: "group19";
  src: url(Calligraffitti-Regular.ttf);
}

#aboutusheader {
  font-size: 4em;
  margin-bottom: 20px;
  font-family: group19;
  text-align: center;
  color: #664f3e;
}

#aboutuspagebody {
  margin: 0px;
  padding: 0px;
  background-color: #f4e4d4;
  box-sizing: border-box;
}

#aboutuspage {
  width: 100%;
  min-height: 100vh;
  
}

.aboutussection {
  width: 70%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.flexcontainer {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  gap: 20px; 
}

.contentsection {
  flex: 1; 
}

.imagesection {
  flex-shrink: 0; 
  max-width: 20%; 
}

.imagesection img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-attachment: fixed;
}

.contentsection .aboutustitle {
  text-decoration: underline;
  font-size: 28px;
  margin-bottom: 15px;
  font-family: 'Arial', sans-serif;
  color: #664f3e;
}

.contentsection .aboutuscontent .aboutush3 {
  margin: 15px;
  color: #4c3b36;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
}

.contentsection .aboutuscontent .aboutusparagraph {
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}


.aboutusparagraph {
  color:#4b392c;
  font-family: 'Arial', sans-serif;
}

#aboutusgreeting {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #4f3d30;
}

#h3lokacioni {

  font-family: 'Arial', sans-serif;;
  text-decoration: underline;
  margin-top: 80px;
margin-bottom: 20px;
text-align: left;
margin-left: 10px;
color: #664f3e;
font-size: 25px;

}

#aboutuslokacioni  {
  color:#4b392c;
  font-family: 'Arial', sans-serif;
  font-style: oblique;
  margin-bottom: 80px;
  text-align: left;
  margin-left: 10px;
  

}


#linkulokacionit  :visited {
  color:purple;
}
#linkulokacionit :hover {
  color:pink;
}


#qellimet{
  color: #664f3e;
  text-decoration: underline;
  font-size: 25px;
  margin-bottom: 18px;
  font-family: 'Arial', sans-serif;

}

.ulaboutus, li {
  color:#4b392c;
  font-family: 'Arial', sans-serif;
  font-style: oblique;
  align-items: center;
  text-align: center;
  list-style-position: inside;

}

.qellimetcontainer {
  
  margin-left: 20px;
  text-align: center;


}

#aboutusbody{
  background:#f4e4d4;
}

.produktettona h3{
  text-align: left;
  color: #664f3e;
  text-decoration: underline;
  font-size: 25px;
  margin-bottom: 18px;
  margin-left: 10px;
  font-family: 'Arial', sans-serif;

}

.produktettona p{
  text-align: left;
  font-style: oblique;
  color: #4b392c;
  font-size: 15px;
  margin-bottom: 80px;
  margin-left: 18px;
  font-family: 'Arial', sans-serif;
  
}

.team {
padding: 50px 0;
height: auto;
box-sizing: border-box;
}

.ourteamcontainer {
  width: 80%;
  margin: 50px auto;


}

.teamrow {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.teamrow::after {
  content: "";
  display: block;
  clear: both; 
}

.teamrow h3{
  color:#664f3e;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}

.teamrow p{
  color:#4b392d;
  border-left:5px #4b392d solid ;
  font-size: 18px;
  padding-left: 5px;
  margin-top: 20px;

}

.mgt50px {
  margin-top: 50px;
}
.teamrow .teamcolumn {
  margin: 0 10px;
  position: relative;
  width:calc(25% - 20px);
  background:white;
  float: left;
  border-radius: 15%;
  box-sizing: border-box;
  border:#664f3e solid 1px;

}

.teamrow .teamcolumn .imgbox{
  position: relative;

}

.teamrow .teamcolumn .imgbox img{
  width:100%;
  height: 275px;
  transition: 0.5s;
  border-radius: 15%;
}

.teamrow .teamcolumn:hover .imgbox img{
 transform: scale(1.1);
}

.icon {
 color: #4c3b36;

}

body {
  font-family: Arial, sans-serif;
  background-color:#f4e4d4;
  margin: 0;
  padding: 0;
}

.contact-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
}
.contact-image img  {
max-width: 100%;
height: 700px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact-form{
flex: 1;
max-width: 50%;
padding: 20px;
display: flex; 
flex-direction: column;
justify-content: space-between;
}
.contact-image {
flex: 1;
max-width: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.contact-text {
margin-left: 20px;
text-align: center;
padding: 20px;
}.contact-text h2 {
color: #6d4c3d;
font-family: 'Georgia', serif;
font-style: italic;
margin-bottom: 15px;
}
.contact-text p {
color: #6d4c3d;
font-size: 16px;
line-height: 1.6;
}    
.container {
max-width: 600px;
      margin: 50px auto;
      padding: 20px;
  }

h2 {
  font-family: 'Georgia', serif;
  font-style: italic;
  color: #6d4c3d;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: bold;
  color: #6d4c3d;
}

input, textarea {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #faf8f2;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  resize: vertical;
}

button {
  background-color: #6d4c3d;
  color: white;
  border: none;
  padding: 10px ;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #4f3d30;
}

.follow-us {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
  color: #96887d;
}
.follow-us h3 {
color: #6d4c3d;
font-style: italic;
font-family: 'Georgia', serif;
margin-bottom: 10px;
}    
.checkbox-container input {
width: 16px;
height: 16px;}

.location .Orari {
padding: 20px;
margin-top: 20px;
text-align: center;
}

.location .Orari h3 {
color: #6d4c3d;
font-style: italic;
font-family: 'Georgia', serif;
text-decoration: underline;
margin-bottom: 10px;
}
.location .Orari ul {
list-style: none;
padding: 0;
color: #6d4c3d;
list-style-type: circle;
}
.location .Orari li {
margin: 5px 0;
}

.lokacioni-dyqanit {
padding: 20px;
margin: 5px;
margin-top: 30px;
text-align: center;

}

.lokacioni-dyqanit h2 {
color:#6d4c3d;
font-style: italic;
font-family: 'Georgia', serif;
margin-bottom: 20px;
}

.locations-wrapper {
display: flex;
justify-content: space-between;
gap: 2px;
flex-wrap: wrap;
}

.location {
flex: 1;
min-width: 150px;
max-width: 250px;
padding: 10px;
margin: 0 5px;
background-color: #faf8f2;
border: 1px solid #e0d9c8;
border-radius: 10px;
text-align: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: transform 0.3s, box-shadow 0.3s;
}

.location:hover {
transform: translateY(-5px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.location-number {
display: block;
font-size: 24px;
font-weight: bold;
color: #6d4c3d;
margin-bottom: 10px;
}

.location p {
margin: 10px 0;
color: #6d4c3d;
font-size: 14px;
line-height: 1.5;
}

.map-link {
display: inline-block;
margin-top: 10px;
font-size: 14px;
color: #6d4c3d;
text-decoration: none;
font-weight: bold;
transition: color 0.3s;
}

.map-link:hover {
color: #d6c1ac;
text-decoration: underline;
}
.feedback-section {
background-color: #faf8f2;
border: 1px solid #e0d9c8;
border-radius: 10px;
padding: 20px;
margin: 20px auto;
max-width: 600px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-align: center;
}

.feedback-section h3 {
color: #6d4c3d;
font-family: 'Georgia', serif;
font-style: italic;
margin-bottom: 15px;
padding-top: 20px;
}

.social-media-dropdown label,
.visit-options label {
font-size: 16px;
color: #6d4c3d;
display: block;
margin-bottom: 10px;
}

#social-media {
font-size: 14px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #faf8f2;
color: #6d4c3d;
width: 100%;
max-width: 300px;
margin: 0 auto;
display: block;
text-align: center;
}

.visit-options {
display: flex;
justify-content: center;
gap: 15px;
margin-top: 15px;
}

.visit-options label {
display: inline-block;
font-size: 16px;
color: #6d4c3d;
cursor: pointer;
}

.visit-options input[type="radio"] {
margin-right: 5px;
transform: scale(1.2);
accent-color: #6d4c3d;
}